* {
  margin: 0;
  padding: 0;
}

/* header */
.navber {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 15px 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  list-style: none;
  margin-left: 40px;
}

.nav-links li {
  margin-left: 20px;
  padding: 8px;
}

.nav-links a {
  text-decoration: none;
  display: inline-block;
  color: black;
  width: 100px;
  height: 50%;
  text-align: center;
}

nav ul li:hover {
  border-bottom: 2px solid rgb(1, 1, 80);
  /* border-radius: 15px; */
}
/* @keyframes nav-links-animation {
  from {
    background: white;
    color: black;
  }
  to {
    background: rgb(1, 1, 80);
    color: white;
    border-radius: 15px;
  }
} */

.logo {
  color: rgb(0, 0, 255);
}

/* hero section */
.hero-section {
  height: 400px;
  background: rgb(1, 1, 75);
  color: white;
  border: none;
}

#hero-introduction {
  padding-top: 80px;
  padding-left: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero-introduction span {
  color: rgb(127, 127, 228);
}

#hero-introduction h3 {
  color: rgb(127, 127, 228);
  margin-top: 10px;
}

#hero-introduction p {
  color: white;
  margin-top: 50px;
}
.introduction-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.introduction-links #btn1 {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: rgb(127, 127, 228);
  padding: 13px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.introduction-links #btn1:hover {
  background: rgb(1, 1, 80);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.introduction-links #btn2 {
  text-decoration: none;
  display: inline-block;
  background:white;
  color: rgb(1, 1, 80);
  padding: 13px;
  height: 50px;
  width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 15px;
}

.introduction-links #btn2:hover {
  background: rgb(1, 1, 80);
  color: white;
  border: 2px solid white;
}

/* main */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-section img {
  margin-top: 10px;
  background: rgb(1, 1, 75);
  border-radius: 80px;
  height: 350px;
}

#about-content h2 {
  font-size: 40px;
  background: rgb(1, 1, 80);
  display: inline-block;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  border-left: 15px solid orange;
  border-radius: 10px;
}

#about-content h2 span {
  color: rgb(127, 127, 228);
}
#about-content p {
  margin-top: 10px;
  font-size: 18px;
}

/* skill section */
.skil-section {
  margin-top: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.skil-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.skil-section div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skil-section div ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 200px;
  font-size: 20px;
  font-width: bold;
}

.skil-section #span1 {
  color: rgb(127, 127, 228);
}

.skil-section #span2 {
  color: rgb(1, 1, 80);
}

.skil-section #span3 {
  color: rgb(127, 127, 228);
}

.skil-section #span4 {
  color: rgb(1, 1, 80);
}

.skil-section #span5 {
  color: rgb(127, 127, 228);
}

.skil-section #span6 {
  color: rgb(1, 1, 80);
}

.skil-section #span7 {
  color: rgb(127, 127, 228);
}

/* foote */
footer {
  background: rgb(1, 1, 80);
  margin-top: 20px;
}

#quick-links-section {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#quick-links p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(127, 127, 228);
}

#quick-links ul {
  margin-top: 20px;
  text-align: center;
}

#quick-links ul li {
  list-style: none;
  margin-top: 8px;
}

#quick-links ul li a {
  text-decoration: none;
  color: white;
}

#contact p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(127, 127, 228);
}

#contact ul li {
  list-style: none;
  margin-top: 8px;
}
#contact ul {
  margin-top: 20px;
  text-align: center;
}

#contact ul li a {
  text-decoration: none;
  color: white;
}
